body {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(8, 1fr);
    grid-template-areas: 
    "sideBar sideBar topOfPage topOfPage topOfPage topOfPage topOfPage topOfPage"
    "sideBar sideBar centerContent centerContent centerContent topRight topRight topRight"
    "sideBar sideBar centerContent centerContent centerContent topRight topRight topRight"
    "sideBar sideBar centerContent centerContent centerContent bottomRight bottomRight bottomRight"
    "sideBar sideBar centerContent centerContent centerContent bottomRight bottomRight bottomRight"
    ;
}
#sideBar {
    display: grid;
    grid-template: 3fr repeat(5,1fr) 3fr repeat(2, 1fr) 10fr / 1fr;
    grid-area: sideBar;
}
.sideContent {
    display: inline-flex;
    align-items: start;
}
h1 {
    margin-left: 1rem;
    font-size: 1.5rem;
}
#dash{
    max-height: 4rem;
    max-width: 4rem;
}
#home, #profile, #message, #history, #tasks, #communities, #settings, #support, #privacy {
    max-width: 3rem;
    max-height: 3rem;
}
.sideBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1rem;
}
#topOfPage {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: topOfPage;
}
#topHalf {
    display: inline-flex;
}
#bottomHalf {
    display: inline-flex;
}
#centerContent {
    display: grid;
    grid-area: centerContent;
}
#topRight {
    display: grid;
    grid-area: topRight;
}
#bottomRight {
    display: grid;
    grid-area: bottomRight;
}