html, body {
    margin: 0;
    padding: 0;
  }  
.page {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: repeat(5, 1fr)/ repeat(5, 1fr);
    grid-template-areas: 
    "sideBar topOfPage topOfPage topOfPage topOfPage"
    "sideBar centerContent centerContent topRight topRight"
    "sideBar centerContent centerContent topRight topRight"
    "sideBar centerContent centerContent bottomRight bottomRight"
    "sideBar centerContent centerContent bottomRight bottomRight"
    ;
}
#sideBar {
    display: grid;
    grid-template: 3fr repeat(5,1fr) 3fr repeat(2, 1fr) 10fr / 1fr;
    grid-area: sideBar;
    background-color: #0284c7;
    gap: 1rem;
}
.sideContent {
    display: inline-flex;
    align-items: start;
}
h1 {
    margin-top: 2rem;
    margin-left: 1rem;
    font-size: 2rem;
    color: white;
}
#dash{
    max-height: 5rem;
    max-width: 5rem;
    fill: white;
    margin-left: 1rem;
    margin-top: 1rem;
}
#home, #profile, #message, #history, #tasks, #communities, #settings, #support, #privacy {
    max-width: 3.5rem;
    max-height: 3.5rem;
    fill: white;
    margin-left: 1rem;
}
.sideBtn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.7rem;
    color: white;
    margin-top: 1rem;
}
#topOfPage {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-area: topOfPage;
}
#topHalf {
    display: grid;
    width: 100%;
    align-items: center;
    grid-template: 1fr / 1fr 7fr 3fr 1fr 2fr;
}
#search {
    background-color: transparent;
    border: none;
    cursor: pointer;
    width: 3rem;
    height: 3rem;
    justify-self: right;
    margin-right: 1rem;
}
#searchBar {
    background-color: #e4e4e7;
    height: 2rem;
}
#bell {
    height: 3rem;
    width: 3rem;
    justify-self: right;
}
#profilePic {
    height: 3rem;
    width: 3rem;
    justify-self: center;
}
h2 {
    text-align: left;
    margin-left: 1rem;
}
#bottomHalf {
    display: grid;
    grid-template: 1fr / 1fr 6fr 1fr 1fr 1fr;
    align-items: center;
}
#profilePic2 {
    justify-self: right;
    margin-right: 1rem;
    height: 5rem;
    width: 5rem;
}
p {
    margin-bottom: 0%;
}
h3 {
    margin-top: .5%;
    font-size: 1.3rem;
}
.bottomButton {
    background-color: #0284c7;
    border-radius: 2rem;
    border: none;
    height: 4rem;
    width: 8rem;
    color: white;
    font-size: 1.3rem;
    font-weight: bold;
}
#centerContent {
    display: grid;
    grid-area: centerContent;
}
#topRight {
    display: grid;
    grid-area: topRight;
}
#bottomRight {
    display: grid;
    grid-area: bottomRight;
}